<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Linktree</title>
    <link rel="stylesheet" href="../static/css/linktree.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">

        <h1 class="name">KAYNAN RAIKKONEN</h1>

        <div class="social-links">
            <a href="https://www.instagram.com/krkaynan/?igsh=MTRqNHphbHBpcDRkZQ%3D%3D&utm_source=qr#" target="_blank"
                class="social-btn instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://github.com/krkaynan" target="_blank" class="social-btn github"><i
                    class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/kaynanraikkonen/" target="_blank" class="social-btn linkedin"><i
                    class="fab fa-linkedin"></i></a>
            <a href="https://wa.me/5511945553352" target="_blank" class="social-btn whatsapp"><i
                    class="fab fa-whatsapp"></i></a>
        </div><!--REDES SOCIAIS-->

        <div class="additional-links">
            <a href="https://krkaynan.github.io/Portifolio/" target="_blank" class="link-btn portfolio"><i
                    class="fas fa-briefcase"></i> Portfólio</a>

            <a href="../index.html" class="link-btn portfolio"><i
                    class="fas fa-arrow-left"></i> Voltar ao site</a>
        </div><!--LINKS ADICIONAIS-->

        <div class="about-box">
            <p>Sou desenvolvedor Fullstack. Hoje formado em ADM pela ETEC, cursando desenvolvimento de sistemas pelo
                SENAI e engenharia de software pela UMC.
                <br><br>
                Habilidades:
                JavaScript, HTML5, CSS3, Python, GIT/GITHUB, C, Banco De Dados, SCRUM.
            </p>
        </div><!--ABOUT-BOX-->

    </div><!--CONTAINER-->
</body>
</html>